.form__{
	&block{		
	}
	&panel{
		&.is--page{
			&-basket{
				&-order{
					.media-breakpoint-up(@md; {
						background-color: @warning;
						border-radius: @site_br;
						padding: 40px;							
					});
				}
			}
			&-login{
				.btn__item{
					margin-top: 10px;
					min-width: 200px;
				}
			}
		}
	}
	&container{		
	}
	&section{
		&.is--page{
			&-settings{
				background-color: @warning;
				margin-left: -@container_gap;
				margin-right: -@container_gap;
				padding: @container_gap;
				margin-bottom: 10px;
				.media-breakpoint-up(@md; {
					margin-left: 0;
					margin-right: 0;
					border-radius: @site_br;
					padding: 40px;
					margin-bottom: 20px;
				});
			}
		}
	}
	&grid{
		&.is--modal{
			grid-gap: 21px 20px;
			margin-bottom: 40px;
		}
		&.is--page{
			&-settings{
				&.is--cols-2{
					.media-breakpoint-up(@md; {
						grid-gap: 20px 40px;
						grid-template-columns: repeat(2, 1fr);
					});
				}
			}
			&-catalog{
				&-card{
					grid-gap: 10px;
				}
			}
		}
	}
	&row{
		&.is--modal{
			& > .cols{
				flex: 1 1 100%;
				.media-breakpoint-up(@md; {
					flex: 1 1 0;
				});
			}
		}
		&.is--page{
			&-settings{		
				.btn__item.is--full {
					min-width: 265px;
					.media-breakpoint-down(@md; {
						padding: 10px;
					});		
				}
				& > .cols{
					flex: 1 1 100%;
					.media-breakpoint-up(@md; {
						flex: initial;
					});
				}
			}
		}
	}
	&item{
		display: block;
		position: relative;
		font-weight: 400;
		&.is--error{
			&::after{
				content: attr(data-error);
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0;
				transform: translateY(100%);
				text-align: right;
				color: @input_error_color;
				.heading6();
				padding-top: 5px;				
			}
		}
	}
	&label{
		display: block;
		.heading6();
		font-weight: 600;
		margin-bottom: 5px;
	}
	&control{
		width: 100%;
		font-weight: 400;
		background: @input_bg;
		border-width: @input_border_width;   
		border-style: solid;   
		border-color: @input_border_color;
		border-radius: @input_radius;	   
		height: @input_height;
		padding: 10px 40px 10px 20px;
		box-shadow: none;
		color: @input_color;
		transition: @trs-site;
		&[type="text"]{
			-webkit-appearance: none;
		}
		&[type=number]{ -moz-appearance: textfield; }
		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::-moz-placeholder{
			transition: @trs-site;
			color: @input_plh_color;
		}
		&::-webkit-input-placeholder {
			transition: @trs-site;
			color: @input_plh_color;
		}
		&.is--focus,
		&:focus{ 
			outline:none;
			border-color: @input_focus_border_color;
		}
		.is--error &{
			border-color: @input_error_border_color;			
		}
		&[disabled]{
			background-color: @input_disabled_bg;
			cursor: not-allowed;
			border-color: @input_disabled_border_color;
			color: @input_disabled_color;
			&::-moz-placeholder{
				color: @input_disabled_color;
			}
			&::-webkit-input-placeholder {
				color: @input_disabled_color;
			}
		}
		&.is--search{
			padding-left: 55px;
			padding-right: 55px;
		}
	}
	&btn{
		.btn-clearfix();
		transition: @trs-site;
		svg{
			display: block;
		}
		&.is--search{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			color: @input_border_color;
			.form__control.is--focus ~ &,
			.form__control:focus ~ &{
				color: @input_focus_border_color;
			}
		}
		&.is--del{
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 17px;
			height: 17px;
			visibility: hidden;
			opacity: 0;
			.form__control.is--focus ~ &,
			.form__control:focus ~ &{
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&text{
		padding-top: 10px;
		.heading6();
	}
	&checkbox{
		&{
			position: relative;
			display: flex;
			align-items: center;
			font-size: @check_fs;
			line-height: @check_lh;
			cursor: pointer;
			& + &{margin-top: 5px}
			transition: @trs-site;
		}
		&-input{
			.visually-hidden();
		}
		&-icon{
			position: relative;
			//margin-top: -3px;
			min-width: @check_size;
			width: @check_size;
			height: @check_size;
			background-color: @check_bg;
			transition: @trs-site;
			border: @check_border_width solid @check_border_color;
			border-radius: @check_radius;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				transform: scale(3);
				opacity: 0;
				.icon-checked();
				transition: @trs-site;
			}
			.form__checkbox-input:focus + &{
				box-shadow: @check_focus_shadow;
			}
			.form__checkbox-input:checked + &{
				border-color: @check_active_border_color;
				background-color: @check_active_bg;
				&::after{
					opacity: 1;
					transform: scale(1);
					transition: all @trs-option 0.2s;
				}
			}
			.form__check-input:checked:focus + &{}
			.form__checkbox-input:disabled + &,
			.form__checkbox-input:checked:disabled + &{
				cursor: not-allowed;
				opacity: 0.5;
				//background-color: @check_disabled_bg;
				//border-color: @check_disabled_border_color;
			}
		}
		&-name{
			margin-left: 15px;
		}
	}
	&radio{
		&{
			position: relative;
			cursor: pointer;
			& + &{margin-top: 5px}
			transition: @trs-site;
		}
		&-wrap{
			&.is--panel{
				background-color: @radio_panel_bg;
				border: @radio_panel_border_width solid @radio_panel_border_color;
				border-radius: @radio_panel_radius;
				padding: 18px;
				transition: @trs-site;
				.media-breakpoint-down(@md; {
					.heading6();
					padding: 13px 18px;
					.is--page-settings &{
						font-size: 1em;
						line-height: 140%;
						padding: 18px;
					}
				});
				.form__radio-input:focus ~ &,
				&.is--hover,
				&:hover{
					box-shadow: @radio_panel_hover_shadow;
					border-color: @radio_panel_hover_border_color;
				}
				.form__radio-input:checked ~ &{
					border-color: @radio_panel_checked_border_color;
					box-shadow: none;
				}
				.form__radio-input:disabled ~ &{
					opacity: 0.5;
					cursor: not-allowed;
					box-shadow: none;
					border-color: @radio_panel_border_color;
				}
			}
			&.is--desc{
				display: flex;
				align-items: center;
				padding: 15px 18px;
			}
		}
		&-input{
			.visually-hidden();
		}
		/*&-icon{
			position: relative;
			//margin-top: -3px;
			min-width: @check_size;
			width: @check_size;
			height: @check_size;
			background-color: @check_bg;
			transition: @trs-site;
			border: @check_border_width solid @check_border_color;
			border-radius: @check_radius;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				transform: scale(3);
				opacity: 0;
				.icon-checked();
				transition: @trs-site;
			}
			.form__checkbox-input:focus + &{
				box-shadow: @check_focus_shadow;
			}
			.form__checkbox-input:checked + &{
				border-color: @check_active_border_color;
				background-color: @check_active_bg;
				&::after{
					opacity: 1;
					transform: scale(1);
					transition: all @trs-option 0.2s;
				}
			}
			.form__check-input:checked:focus + &{}
			.form__checkbox-input:disabled + &,
			.form__checkbox-input:checked:disabled + &{
				cursor: not-allowed;
				opacity: 0.5;
				//background-color: @check_disabled_bg;
				//border-color: @check_disabled_border_color;
			}
		}*/
		&-color{
			display: block;
			min-width: 24px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			margin-right: 10px;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}
		&-name{
			display: block;
			font-weight: 600;
		}
		&-note{
			display: block;
			.media-breakpoint-up(@md; {
				margin-top: 5px;
			});
		}
		&-qty{
			display: none;
			margin-left: auto;
			padding-left: 10px;
			.media-breakpoint-up(@md; {
				display: block;
			});
		}
	}
	&qty{
		&{
			display: flex;
		}
		&-btn{
			.btn-clearfix();
			border: @qty_border_width solid @qty_border_color;
			width: @qty_btn_width;
			height: @qty_btn_height;
			background-position: center;
			&[disabled]{
				cursor: not-allowed;
			}
			&.is--minus{
				.icon-minus();
				border-radius: @qty_radius 0 0 @qty_radius;
				border-right-width: @qty_border_width - 1; 
				&:hover{
					.icon-minus(@c: '56c8c8');
				}
				&[disabled]{
					.icon-minus(@c: '343a404d');
				}
			}
			&.is--plus{
				.icon-plus();
				border-radius: 0 @qty_radius  @qty_radius 0;
				border-left-width: @qty_border_width - 1;
				&:hover{
					.icon-plus(@c: '56c8c8');
				}
				&[disabled]{
					.icon-plus(@c: '343a404d');
				}
			}
		}
		&-input{
			flex: 1 1 0;
			width: 100%;			
			border: @qty_border_width solid @qty_border_color;
			border-left: 0;
			border-right: 0;
			text-align: center;
			font-weight: 600;
			.heading6();
			&{ -moz-appearance: textfield; }
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
	&photo{
		&{
			position: relative;
			border-radius: @site_br;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 60px;
			border: 2px solid @info;
			padding: 20px 15px;
			color: fadeout(@default, 50%);
			.heading6();
			text-align: center;
			cursor: pointer;
			.media-breakpoint-up(@md; {
				height: 200px;
			});
			&.is--hidden{
				display: none;
			}			
		}
		&-input{
			.visually-hidden();			
		}
		&-icon{
			width: 28px;
			height: 20px;
			.media-breakpoint-up(@md; {
				width: 55px;
				height: 40px;
			});
		}
		&-name{
			display: none;
			.media-breakpoint-up(@md; {
				display: block;
				margin-top: 10px;
			});
		}
		&-result{
			position: relative;
			overflow: hidden;
			border-radius: @site_br;
			display: none;
			height: 60px;
			.media-breakpoint-up(@md; {
				height: 200px;
			});
			&.is--visible{
				display: block;
			}			
			img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
			}
		}
		&-edit{
			&{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background-color: fadeout(#F6F7F8, 70%);
				color: @white;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: @trs-site;
				cursor: pointer;
				svg{
					width: 20px;
					height: 20px;
				}
				.media-breakpoint-up(@md; {
					background-color: fadeout(#F6F7F8, 0%);
					color: @danger;
					border-radius: @site_br;
					width: 52px;
					height: 52px;
					bottom: 10px;
					left: 10px;
					&:hover{
						color: @default;
					}
				});
			}
			&-input{
				.visually-hidden();			
			}
		}
	}
	/*
	//file
	&file{
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		&.is--center{
			justify-content: center;
		}	
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		&-icon{
			color: @file_icon;
			display: inline-block;
			min-width: @file_size;
			width: @file_size;
			height: @file_size + 8;
			margin-bottom: 3px;
			margin-right: 10px;	
			svg{fill: currentColor;}			
		}		
		&-name{
			line-height: @b-lh - 8;
			color: @file_color;
			border-bottom: 1px solid @file_border_color;
			transition: @trs-site;
			.form__file:hover &,
			.form__file-input:focus + &{
				color: @file_focus_color;
				border-bottom-color: @file_focus_border_color;
			}			
		}	
	}
	//reset
	&reset{
		&{
			.btn-clearfix();
			display: flex;
			align-items: flex-end;
			font-size: @b-fs - 2;
			line-height: @b-lh - 8;
		}
		&-icon{
			width: @reset_size;
			height: @reset_size - 2;
			margin-right: 5px;
			display: block;
			&-check{
				transition: @trs-site;
				fill: @reset_bg_color;
				.form__reset:focus &,
				.form__reset.is--active &,
				.form__reset:hover &{
					fill: @reset_focus_bg_color;
				}
			}
		}
		&-label{
			border-bottom-width: 1px;
			border-bottom-style: solid;
			transition: @trs-site;
			color: @reset_color;
			border-bottom-color: @reset_border_color;
			.form__reset:focus &,
			.form__reset.is--active &,
			.form__reset:hover &{
				color: @reset_focus_color;
				border-bottom-color: @reset_focus_border_color;
			}
		}
	}
	//radio	
	&radio{
		&{
			position: relative;
			display: flex;
			align-items: center;
			text-align: left;	
			color: @radio_color;
			& + &{
				margin-top: 5px;
			}			
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		&-box{
			min-width: @radio_size;
			width: @radio_size;
			height: @radio_size;
			margin-top: -3px;
			background-color: @radio_bg;
			border-radius: @radio_radius;
			box-shadow: 0 0 0 @radio_border_width @radio_border_color;
			margin-right: 8px;
			transition: @trs-site;
			.form__radio-input:focus + &{
				background-color: @radio_focus_bg;
				box-shadow: 
					0 0 0 @radio_border_width @radio_focus_border_color,
					0 0 0 @radio_border_width+2 @radio_focus_shadow;
			}
			.form__radio-input:checked + &{
				background-color: @radio_focus_bg;
				box-shadow: 0 0 0 @radio_border_width @radio_focus_border_color;
			}
			.form__radio-input:checked:focus + &{
				background-color: @radio_focus_bg;
				box-shadow: 
					0 0 0 @radio_border_width @radio_focus_border_color,
					0 0 0 @radio_border_width+2 @radio_focus_shadow;
			}
			.form__radio-input:disabled + &,
			.form__radio-input:checked:disabled + &{
				background-color: @radio_disabled_bg;
				box-shadow: none;
			}
		}
		&-icon{
			path{				
				transform: scale(3);
				transform-origin: center;
				fill: @radio_icon;
				transition: @trs-site;
				.form__radio-input:focus:checked + * &,
				.form__radio-input:checked + * &{
					transition: all @trs-option 0.2s;
					transform: scale(1);
					fill: @radio_focus_icon;
				}
				// white 
				// .form__radio-input.is--white:focus:checked + .form__radio-box &,
				// .form__radio-input.is--white:checked + .form__radio-box &,
				// .form__radio-input.is--danger:focus:checked + .form__radio-box &,
				// .form__radio-input.is--danger:checked + .form__radio-box &{
				// 	fill: @check_w_focus_icon;
				// }

				// disabled 
				.form__radio-input:disabled:checked + * &{
					fill: @radio_disabled_icon;
				}

				//.form__radio-input.is--danger:disabled:checked + .form__radio-box &,
				//.form__radio-input.is--white:disabled:checked + .form__radio-box &{
				//	fill: @check_w_disabled_icon;
				//}
			}
		}
	}
	*/
}
// === formError === //
/*
.formError { 
	z-index: 990;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	cursor: pointer;
	text-align: left;
	.formErrorContent { 
		z-index: 991;
		position:relative;
		width: 100%;
		min-width: 120px;
		background-color: @form_error_bg;
		color: @form_error_text_color;
		font-size: @form_error_fs;
		line-height: @form_error_lh;
		border: @form_error_border_width solid @form_error_border_color ;
		padding: 5px 10px;
		border-radius: @form_error_radius ;
	    text-transform: uppercase;
	    .greenPopup &{ 
	    	background: @form_error_bg_pass;
	    }
	    .blackPopup &{ 
	    	background: @form_error_bg_load;  
	    }
	}
	.formErrorArrow { 
		z-index: 996;
		position:relative;
		width: 16px;
		margin-left: 10px;
	    border-top: 10px solid fadeout(@form_error_bg, 0%);
	    border-left: 8px solid fadeout(@form_error_bg, 100%);
	    border-right: 8px solid fadeout(@form_error_bg, 100%);
	    &.formErrorArrowBottom {
			border-top: 0;
		    border-bottom: 10px solid fadeout(@form_error_bg, 0%);
		}
	    .greenPopup &{ 
	    	border-top-color: @form_error_bg_pass;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_pass;
			}
	    }
	    .blackPopup &{ 
	    	border-top-color: @form_error_bg_load;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_load;
			} 
	    }
	}

	&.inline {
		position: relative;
		display: inline-block;
		.formErrorContent {
			border: none;
			border-radius: 0;
		}
	}
	.ui-dialog &{
		z-index: 5000; 
		.formErrorContent { z-index: 5001; }
		.formErrorArrow { z-index: 5006; }
	}
}
.inputContainer {
	position: relative;
	float: left;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}
*/