<div style="margin-bottom: 100px; max-width: 450px;">
	{% include "../../common/form/form.twig" with {view: "default", prefix:"form__", mod:"", ID: "f_default", heading:"Оставить отзыв", heading_mod:"is--h4", level:"h4", heading_sm_level:"div", heading_sm:"Свяжитесь с нами", bread:null, btn_name:"Отправить" } %}
</div>
<div style="margin-bottom: 100px; max-width: 1000px;">
	{% include "../../common/form/form.twig" with {view: "reviews", prefix:"form__", mod:"is--reviews", ID: "f_reviews", heading:"Оставить отзыв", heading_mod:"is--h4", level:"h4", heading_sm_level:"div", heading_sm:"Свяжитесь с нами", bread:null, btn_name:"Отправить" } %}
</div>
<div style="margin-bottom: 100px; max-width: 450px;">
	{% include "../../common/form/form.twig" with {view: "call", prefix:"form__", mod:"", ID: "f_call", heading:"Заказать обратный звонок", heading_mod:"is--h4", level:"h4", heading_sm_level:"div", heading_sm:"Свяжитесь с нами", bread:null, btn_name:"Отправить" } %}
</div>