<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.catalog_cat,
        } %} 

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/catalog.twig" with {
                view:"cat_list", 
                catalog_view: page.catalog_cat_list,
                content_prefix:prefix.section, 
                content_mod:"is--page-catalog", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"", 
                heading_level:"h1", 
                heading:"Регистрационные услуги", 
                bread_attr:"",
                bread_mod:"",
                bread:[
                    {name:"Каталог", link:page.catalog},
                    {name:"Регистрационные услуги"}
                ],

                catalog_card_view:"catalog",
                catalog_card_mod:"is--catalog", 
                catalog_card_group:"is--view-list", 
                catalog_card_checkbox: "true", 
                catalog_card: [
                    {                   
                        "link":page.catalog_card,
                        "id":"1",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "color":[
                            {
                                "name":"Orange",
                                "color":"orange",
                            },
                            {
                                "name":"Yellow",
                                "color":"yellow",
                            },
                            {
                                "name":"Green",
                                "color":"green",
                            },
                            {
                                "name":"Blue",
                                "color":"blue",
                            },
                            {
                                "name":"Purple",
                                "color":"purple",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"5",
                        "qty_color":"#EB5757",
                        "btn": "В корзину"
                    },
                    {              
                        "link":page.catalog_card,
                        "id":"2",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Регистрация ИП",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"100", 
                        "qty_color":"#219653",
                        "btn": "В корзине 15 шт"
                    },
                    {               
                        "link":page.catalog_card,
                        "id":"3",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost": "5 900 ₽",
                        "cost_old": "6 900 ₽",
                        "qty":"50", 
                        "btn": "В корзине"
                    },
                    {               
                        "link":page.catalog_card,
                        "id":"4",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Смена наименования организации",
                        "code":"051456",
                        "cost": "5 900 ₽",
                        "btn": "В корзине"
                    },
                    {              
                        "link":page.catalog_card,
                        "id":"5",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Регистрация фонда",
                        "code":"051456",
                        "cost": "14 900 ₽",
                        "btn": "В корзине"
                    },
                ]             
            } %}
        </main>

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
        <script>
            $('.form__checkbox').on('change', ':checkbox', function () {
                if ($(this).is(':checked')) {
                    $(this).closest('body').find( $(".informer__panel") ).addClass('is--open');
                    $(this).closest('body').addClass('is--informer-catalog');
                } else {
                    $(this).closest('body').find( $(".informer__panel") ).removeClass('is--open');
                    $(this).closest('body').removeClass('is--informer-catalog');
                }
            });
        </script>
	</body>
</html> 
