<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.catalog,
        } %} 

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/catalog.twig" with {
                view:"page", 
                content_prefix:prefix.section, 
                content_mod:"is--page-catalog", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default", 
                heading_level:"h1", 
                heading:"Каталог",  
                list1: [
                    {                   
                        "link":page.catalog_card,
                        "id":"1",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "color":[
                            {
                                "name":"Orange",
                                "color":"orange",
                            },
                            {
                                "name":"Yellow",
                                "color":"yellow",
                            },
                            {
                                "name":"Green",
                                "color":"green",
                            },
                            {
                                "name":"Blue",
                                "color":"blue",
                            },
                            {
                                "name":"Purple",
                                "color":"purple",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"5",
                        "qty_color":"#EB5757",
                        "btn": "В корзину"
                    },
                    {              
                        "link":page.catalog_card2,
                        "id":"2",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Регистрация ИП",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"100", 
                        "qty_color":"#219653",
                        "btn": "В корзине 15 шт"
                    },
                    {              
                        "link":page.catalog_card3,
                        "id":"3",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost": "5 900 ₽",
                        "cost_old": "6 900 ₽",
                        "qty":"50", 
                        "btn": "В корзине"
                    },
                ],
                list2: [
                    {                   
                        "link":page.catalog_card,
                        "id":"1",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Смена наименования организации",
                        "code":"051456",
                        "cost":"1 900 ₽",
                        "btn": "В корзину"
                    },
                    {              
                        "link":page.catalog_card,
                        "id":"1",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Регистрация фонда",
                        "code":"051456",
                        "cost":"14 900 ₽",
                        "btn": "В корзину" 
                    },
                ],
                list3: [
                    {               
                        "link":page.catalog_card,
                        "id":"1",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "color":[
                            {
                                "name":"Orange",
                                "color":"orange",
                            },
                            {
                                "name":"Yellow",
                                "color":"yellow",
                            },
                            {
                                "name":"Green",
                                "color":"green",
                            },
                            {
                                "name":"Blue",
                                "color":"blue",
                            },
                            {
                                "name":"Purple",
                                "color":"purple",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"5",
                        "qty_color":"#EB5757",
                        "btn": "В корзину"
                    },
                    {              
                        "link":page.catalog_card,
                        "id":"2",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Регистрация ИП",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost_list":[
                            {
                                "name":"От 500 шт.",
                                "value":"7 900 ₽",
                            },
                            {
                                "name":"От 1 000 шт.",
                                "value":"6 900 ₽",
                            },
                            {
                                "name":"От 1 500 шт.",
                                "value":"5 900 ₽",
                            },
                        ],
                        "qty":"100", 
                        "qty_color":"#219653",
                        "btn": "В корзине 15 шт"
                    },
                    {              
                        "link":page.catalog_card,
                        "id":"3",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost": "5 900 ₽",
                        "cost_old": "6 900 ₽",
                        "qty":"50", 
                        "btn": "В корзине"
                    },
                    {             
                        "link":page.catalog_card,
                        "id":"4",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost": "5 900 ₽",
                        "cost_old": "6 900 ₽",
                        "qty":"50", 
                        "btn": "В корзине"
                    },
                    {             
                        "link":page.catalog_card,
                        "id":"5",
                        "img": [path.img,"/default/catalog-lock.jpg"].join(""),      
                        "heading":"Услуги по ликвидации юридического лица",
                        "code":"051456",
                        "decs":[
                            {
                                "name":"Гарантия:",
                                "value":"1 год",
                            },
                            {
                                "name":"Срок службы:",
                                "value":"5 лет",
                            },
                            {
                                "name":"Производитель:",
                                "value":"Россия",
                            },
                        ],
                        "size":[
                            {
                                "name":"S",
                            },
                            {
                                "name":"M",
                            },
                            {
                                "name":"L",
                            },
                            {
                                "name":"XL",
                            },
                            {
                                "name":"XXL",
                            },
                        ],
                        "cost": "5 900 ₽",
                        "cost_old": "6 900 ₽",
                        "qty":"50", 
                        "btn": "В корзине"
                    }, 
                ]         
            } %}
        </main>

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
