<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Мои обращения"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.profile,
        } %} 

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/profile.twig" with {
                view:"page", 
                content_prefix:prefix.section, 
                content_mod:"is--page-profile", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-profile", 
                heading_level:"h1", 
                company_attr:"",
                company_mod:"is--page-profile-company", 
                company_level:"p", 
                heading:"Семён Вишневский", 
                company:"MWS Agency", 
                more: [
                    {
                        "name":"Редактировать данные", 
                        "tag":"button", 
                        "attr":'type="button" data-toggle="modal" data-target="#modal-profile-edit"',
                        "class":'btn__item  is--primary  is--sm',
                    },
                    {
                        "name":"Сменить пароль", 
                        "tag":"button", 
                        "attr":'type="button" data-toggle="modal" data-target="#modal-pass-edit"',
                        "class":'btn__item  is--sm',
                    },
                ],
                contacts_prefix: 'card__',
                contacts_mod: 'is--profile-contacts',
                contacts_list: [
                    {
                        "mod":'',
                        "heading":"Электронная почта", 
                        "desc":"Semen@artu.studio",
                    },
                    {
                        "mod":'',
                        "heading":"Телефон", 
                        "desc":"+7 999 123-45-67",
                    },
                    {
                        "mod":'is--full',
                        "heading":"Портфолио", 
                        "desc":"Instagram.com/d.wishnewsky/",
                    },
                ],
                table_head:[
                    {
                        "name":"Устройство/система",
                        "mod":"",
                        "attr":'style="width: 16.5%"',
                    },
                    {
                        "name":"Местоположение",
                        "mod":"",
                        "attr":'style="width: 25%"',
                    },
                    {
                        "name":"Браузер",
                        "mod":"",
                        "attr":'style="width: 16.3%"',
                    },
                    {
                        "name":"Дата",
                        "mod":"",
                        "attr":'style="width: 17%"',
                    },
                    {
                        "name":"Статус",
                        "mod":"",
                        "attr":'style="width: 6%"',
                    },
                ],
                table_body:[
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Windows'},
                                    {"name": 'Санкт-Петербург, Россия'},
                                    {"name": 'Google Chrome'},
                                    {"name": 'Сегодня в 20:31'},
                                    {"name": 'Онлайн'},
                                ],
                            }
                        ],
                    },
                ],           
            } %}
        </main>

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
        <script>
            var photo = $('[data-upload]');  
            var photo_img = $('.form__photo-img');
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        photo_img.attr('src', e.target.result);
                        photo_img.parent().addClass('is--visible');
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            photo.change(function(){
                readURL(this);
                $(this).parent().addClass('is--hidden');
            });
        </script>
	</body>
</html> 
