<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Мои обращения"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.requests,
        } %} 

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/requests.twig" with {
                view:"page", 
                content_prefix:prefix.section, 
                content_mod:"is--page-requests", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"", 
                heading_level:"h1", 
                heading:"Мои обращения", 
                table_head:[
                    {
                        "name":"Название",
                        "mod":"",
                        "sort":"true",
                        "attr":'style="width: 19.3%"',
                    },
                    {
                        "name":"Статус",
                        "mod":"",
                        "sort":"true",
                        "attr":'style="width: 23%"',
                    },
                    {
                        "name":"Менеджер",
                        "mod":"",
                        "sort":"true",
                        "attr":'style="width: 14.3%"',
                    },
                    {
                        "name":"Дата создания",
                        "mod":"",
                        "sort":"true",
                        "attr":'style="width: 12.2%"',
                    },
                    {
                        "name":"Текст обращения",
                        "mod":"",
                        "sort":"true",
                    },
                ],
                table_body:[
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Jenny Wilson'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                    {
                        "tr":[
                            {
                                
                                "td":[
                                    {"name": 'Проект №13-10/2020'},
                                    {"progress": '50'},
                                    {"name": 'Leslie Alexander'},
                                    {"name": '30.10.2020'},
                                    {"name": 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollittecd...'},
                                ],
                            }
                        ],
                    },
                ],           
            } %}
        </main>

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
