<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"У вас нет проектов"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.requests,
        } %} 
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/empty.twig" with {
                view:"empty", 
                content_prefix:prefix.section, 
                content_mod:"is--page-empty", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"", 
                heading_level:"h1", 
                heading:"У вас нет обращений",  
                bg: [path.img,"/default/requests-empty.svg"].join(""),
                btn_view:'link',             
                btn_name:'Создать',             
                btn_link:'#',             
                btn_attr:'',             
                btn_mod:'is--primary',             
            } %}
        </main>
        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
