<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Настройки"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            view: "header",
            prefix:"navbar__", 
            mod:"",
            basket:"Корзина",
            basket_qty:"999",
            basket_cost:"15 900",
        } %}
        {% include "../block/common/navbar/navbar.twig" with {
            view: "aside",
            prefix:"navbar__",
            collapse:"",  
            mod:"",            
            active:page.settings,
        } %} 

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/settings.twig" with {
                view:"page", 
                content_prefix:prefix.section, 
                content_mod:"is--page-settings", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-xs", 
                heading_level:"h1",
                heading:"Настройки",           
            } %}
        </main>

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>