.events__{
	&card{
		border: 1px solid @success;
		border-radius: @site_br;
		padding: 20px;
		margin-bottom: 10px;
		&.is--null{
			border-radius: 0;
			padding: 0px;
			border: 0;
			.media-breakpoint-up(@md; {
				padding: 20px;
				margin-top: 10px;
				border: 2px dashed @success;
				text-align: center;
				min-height: 530px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			});
		}		
	}
	&heading{
		font-weight: 600; 
		margin-bottom: 15px; 
		line-height: 140%;
		&.is--null{
			color: fadeout(@default, 50%);
		}
		.media-breakpoint-up(@md; {
			margin-bottom: 5px; 
			&.is--null{
				.heading2();
				font-weight: 700;
			}			
		});
	}
	&preview{
		&.is--null{
			display: none;			
			margin-bottom: 20px;
			img{
				margin: 0 auto;
			}
			.media-breakpoint-up(@md; {
				display: block;			
			});
		}
		
	}
	&gallery{
		&-group{
			display: flex;
			flex-wrap: wrap;
			margin: -8px -5px -5px;
			.media-breakpoint-up(@md; {
				margin: -4px;
				padding-top: 15px;
			});
		}
		&-item{
			display: block;
			border-radius: @site_br;
			margin: 4px;
			overflow: hidden;
			width: 39px;
			height: 39px;
			.media-breakpoint-up(@md; {
				width: 57px;
				height: 57px; 
			});
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&docs{
		&-group{
			padding-top: 20px;
			padding-bottom: 15px;
			.media-breakpoint-up(@md; {
				padding-bottom: 20px;
			});
		}
	}
	&date{
		display: block;
		color: fadeout(@default, 50%);
		.heading6();
		.media-breakpoint-up(@md; {
			font-size: 1rem;
		});
		span{
			margin-left: 10px;
		}
	}
	&note{
		margin-bottom: 10px;
	}
}