.section__{
	&wrap{
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		.media-breakpoint-up(@xl; {
			padding-left: @aside_size;
		});
	}
	&content{
		overflow: hidden;
	}
	&container{
		//padding-top: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
		.media-breakpoint-down(@md; {
			&.is--breadcrumb{
				padding-top: 20px;
			}
		});
		.media-breakpoint-up(@lg; {
			padding-top: 60px;
			padding-bottom: 40px;
			&.container{
				padding-left: @container_gap + 10px;
				padding-right: @container_gap + 20px;		
			}
		});
	}
	&inner{
	}
	&section{
		&.is--page{
			&-catalog{
				margin-bottom: 40px;
				&:last-child{
					margin-bottom: 0;
				}
				.card__item{
					//max-width: 317px;
				}
			}
			&-company{
				&{}
				&-card{
					padding-bottom: 35px;
					&:last-child{
						padding-bottom: 0;
					}
					& > .btn__item{
						margin-bottom: 10px;
					}
				}				
			}
		}
	}
	&grid{
		&.is--page{
			&-company{
				&{}
				&-card{
					grid-template-columns: 100%;
					& > [data-grid-heading]{
						grid-row: 1;
					} 
					& > [data-grid-manager]{
						grid-row: 2;
						margin-bottom: 20px;
					} 
					& > [data-grid-content]{
						grid-row: 3;
					} 
					.media-breakpoint-down(@xl; {
						& > [data-grid-heading]{
							.page-header__heading{
								margin-bottom: 0;
							}
						} 
					});
					.media-breakpoint-up(@xl; {
						grid-template-columns: 7.25fr 4.75fr;
						grid-gap: 20px 30px;
						& > [data-grid-heading]{
							grid-column: 1;
							grid-row: 1;
						} 
						& > [data-grid-manager]{
							grid-column: 2;
							grid-row: ~"1/3";
							margin-bottom: 0;
						} 
						& > [data-grid-content]{
							grid-column: 1;
							grid-row: 2;
						} 
					});
				}
			}
			&-catalog{
				&.is--card{
					grid-gap: 10px;
					.media-breakpoint-up(@sm; {
						grid-gap: 20px 10px;
						grid-template-columns: repeat(2, 1fr);
					});
					.media-breakpoint-up(@lg; {
						grid-template-columns: repeat(3, 1fr);
					});
				}
				&.is--list{
					grid-gap: 10px;
					.media-breakpoint-up(@sm; {
						grid-gap: 20px 10px;
						grid-template-columns: repeat(2, 1fr);
					});
					.media-breakpoint-up(@lg; {
						grid-template-columns: repeat(3, 1fr);
					});
					.media-breakpoint-up(@xl; {
						grid-gap: 10px;
						grid-template-columns: 100%;
					});
					
				}
			}
			&-basket{
				grid-gap: 10px;
			}
		}
	}
	&row{
		&.is--page{
			&-catalog{
				margin-bottom: 40px;
				&.is--heading{
					margin-bottom: 20px;
				}
				& > .cols{
					&.is--search{
						flex: 1 1 0;
					}
					&.is--slick-nav{
						margin-left: auto;
						align-self: center;
					}
					&.is--view{
						margin-left: auto;
						align-self: center;
					}
				}
			}
			&-basket{
				&.is--heading{
					margin-bottom: 30px;
					.media-breakpoint-up(@md; {
						margin-bottom: 20px;
					});
				}
				& > .cols{
					&.is--more{
						margin-left: auto;
						align-self: center;
					}
				}
			}
		}
	}
	&slick{
	}
	&card{
	}
	&img{
	}
	&hr{
	}
	&btn{
	}
}