{% if view == "page" %}
	<section class="{{content_prefix}}content">
		<div class="{{content_prefix}}container container">	
			<div class="{{content_prefix}}row  row  is--page-default  is--heading">
				<div class="cols">		
					{% include "../common/page-header/elem.twig" with {
						prefix:"page-header__", 
						mod:heading_mod,
						attr:heading_attr, 
						level:heading_level, 
						heading:heading
					} %}
				</div>
				<div class="cols  is--add">
					{% include "../common/button/btn.twig" with {
						view:"btn",
						prefix:"btn__", 
						attr:'data-toggle="modal"',
						mod:"is--add",  
						icon:"icon-add",  
						name:"Создать"
					} %}
				</div>		
			</div>
			{% include "../common/table/tpl.twig" with {
				prefix:"table",
				mod: "",
				head:table_head,
				body:table_body,
			} %}
		</div>
	</section>
{% endif %}