.icon-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-icon-back {
	font-size:(12/10)*1rem;
	//width:(17/12)*1em;
}
.icon-icon-basket {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
.icon-icon-catalog {
	font-size:(10/10)*1rem;
	//width:(12/10)*1em;
}
.icon-icon-close {
	font-size:(17/10)*1rem;
	//width:(17/17)*1em;
}
.icon-icon-company {
	font-size:(12/10)*1rem;
	//width:(12/12)*1em;
}
.icon-icon-del {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
.icon-icon-more {
	font-size:(25/10)*1rem;
	//width:(5/25)*1em;
}
.icon-icon-next {
	font-size:(12/10)*1rem;
	//width:(17/12)*1em;
}
.icon-icon-orders {
	font-size:(12/10)*1rem;
	//width:(12/12)*1em;
}
.icon-icon-print {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
.icon-icon-projects {
	font-size:(12/10)*1rem;
	//width:(12/12)*1em;
}
.icon-icon-search {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
.icon-icon-settings {
	font-size:(12/10)*1rem;
	//width:(12/12)*1em;
}
.icon-icon-upload {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
.icon-icon-user {
	font-size:(20/10)*1rem;
	//width:(20/20)*1em;
}
